@media only screen and (max-width: 768px){
    #runing {
        height: 8%;
    }

    .jumping {
        animation: animation-jump 650ms ease-in;
    }

    #time {
        margin-left: 10%;
        font-size: medium;
    }

    #stop {
        height: 16%;
    }

    #stone {
        height: 13%;
        top: 530px;
        animation: animation-all 2s linear infinite;
    }

    #flower,
    #flower2 {
        width: 8%;
    }

    #tree,
    #tree2 {
        width: 89%;
    }

    #game-over {
        left: 12%;
        height: 40%;
        top: 30%;
    }
}